.product-image {
  width: 100px;
  height: 100px;
}
.product {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin: 10px;
}

.filter-cotainer {
  display: flex;
  flex-direction: column;
}
.filter-cotainer button {
  width: 200px;
}
