.order-summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.order-summary i {
  font-size: 60px;
  margin-bottom: 25px;
}
.order-summary h2 {
  font-size: 40px;
  margin-bottom: 25px;
}
.order-summary small {
  font-size: 20px;
  margin-bottom: 25px;
}
